{
  "queueInit": {
    "leaveOnEnd": false,
    "leaveOnStop": false,
    "leaveOnEmpty": true,
    "leaveOnEmptyCooldown": 30000,
    "leaveOnEndCooldown": 1000,
    "autoSelfDeaf": true,
    "initialVolume": 20,
    "bufferingTimeout": 3000,
    "spotifyBridge": true,
    "disableVolume": false,
    "volumeSmoothness": 0.5
  },
  "autoPlaylistCounter": 5,
  "redisOptions": {
    "socket": {
      "host": "redis",
      "port": 6379
    }
  }
}